<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Timestamp-MS</title>
</head>
<body>
        <h1>Basejump : URL Shortener Microservice</h1>
  <p>
    <strong>User Story:</strong>  I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
  </p>
  <p>
    <strong>User Story:</strong>  If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
  </p>
  <p>
    <strong>User Story:</strong>   When I visit that shortened URL, it will redirect me to my original link.
  </p>
  <br/>
  <h3>Example Usage:</h3>
    <p style= "color:red">
      https://microservice-url-shortener.glitch.me/api/http://www.google.com<br/>
  </p>
  <h3>Example Usage:</h3>
    <p style= "color:red">
     {"inputUrl":"http://www.google.com","shortUrl":"localhost:8080/9633"}
  </p>
  
    </body>

</html>